<p ng-repeat="node in graph.getNodes()" ng-class="{'hover-node-list' : hover}" ng-mouseenter="hover = true;" ng-mouseleave="hover = false;"" >
    <span class="node-list" ng-mouseenter="selectNode(node.index)"
          ng-mouseleave="deselectNode(node.index)">
        {{node.label}}</span>
    <span ng-repeat="nodeDest in graph.getAdjacentList()[$index]">
        <md-icon>arrow_forward</md-icon>
        <span class="node-list"
            ng-mouseenter="selectNode(nodeDest.index)"
            ng-mouseleave="deselectNode(nodeDest.index)">
                {{nodeDest.label}}
        </span>
    </span>
</p>